/*	 Licensed Materials - Property of IBM
	 5725-I43 (C) Copyright IBM Corp. 2006, 2013. All Rights Reserved.
	 US Government Users Restricted Rights - Use, duplication or
     disclosure restricted by GSA ADP Schedule Contract with IBM Corp. */
     
.todo.done {text-decoration: line-through; color: gray;}

.menu-icon:before,
.menu-icon {
  font-size: 45px !important;
  display: block !important;
  margin-top: 5px ;
}

.menu-card {
	height:80px; 
	font-size:25px; 
    padding-left: -14px; 
    line-height: 40px
}