<div class="bar bar-header bar-balanced">
  <a type="button"  ng-href="#/menu" class="button button-large button-icon icon ion-chevron-left" ></a>
    <h1 class="title">Create new list</h1>
  </div>
<div class="content has-header">
<div class="list list-inset">
  <label class="item item-input">
    <input ng-model="listName" type="text" placeholder="New list name">
  </label>
   <label class="item item-input item-select">
    <div class="input-label">
      Share list with friends? 
    </div>
      <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
    
  </label>
  <button class="button button-block button-positive" ng-click="submit()">
  Submit
  
</button>
</div>
</div>