<div class="bar bar-header bar-balanced">
	
	  <a type="button"  ng-href="#/menu" class="button button-large button-icon icon ion-chevron-left" ></a>
		<h1 class="title">My list</h1>
	</div>

<div class="bar bar-subheader item-input-inset" style="height:50px">
	<div class="row">
		<div class="col col-75">
			<label class="item-input-wrapper"> <input type="text"
				placeholder="Item name" ng-model="item.name" style="height:40px">
			</label>
		</div>
		<div class="col">
			<label class="item-input-wrapper"> <input type="number"
				 ng-model="item.quantity" style="height:40px;text-align: center">
			</label>
		</div>
	</div>
	<button class="button button-clear button-small button-positive" ng-click="addItem()"><i
				class="icon ion-plus-round"></i></button>		
</div>


<div class="scroll-content ionic-scroll has-subheader">	
	<ion-content>

	<ion-checkbox ng-repeat="item in list.items" ng-model="item.done" 
	ng-checked="item.done" style="padding-top:4px;padding-bottom:4px">
	<div class="row" >
		<div class="col col-75"> <span ng-class="{'todo done': item.done}" >{{item.name}}</span></div>
		<div class="col">{{item.quantity}}</div>
		
	</div>
</ion-checkbox>
<ion-content>


</div>

<div class="bar bar-footer bar-balanced">
  <button class="button button-large button-icon icon ion-upload" ng-click="uploadList()"></button>
</div>


