<div class="bar bar-header bar-balanced">
		<h1 class="title">Menu</h1>
	</div>
<div class="content has-header">
	<!-- <div class="list card"> -->
<div class="card">
		 <a ng-href="#/newlist" class="item item-icon-left menu-card"> 
		 	<i class="icon ion-compose menu-icon"></i> Create new list</a> 
		 </div>		 
<div class="card">		 	
	<a href="#" class="item item-icon-left menu-card"> <i class="icon ion-clipboard menu-icon"></i> Show my lists </a> 
</div>
<div class="card">
		 	<a href="#" class="item item-icon-left menu-card"> <i class="icon ion-person-stalker menu-icon"></i> Show Friends lists </a>
</div>
	<!-- </div> -->
</div>


